.home > .home-single-ad{
    display: flex;
    padding: 10px;
    align-items: center;
}

.home > .home-single-ad > div{
    max-width: 50vw;
}

.home > .home-single-ad > .ad-content{
    display: block!important;
    padding: 50px;
}

.home > .home-single-ad > .ad-content > h1{
    font-size: 40px;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    padding: 0;
}

.home > .home-single-ad > .ad-content > p{
    line-height: 2;
    font-size: 18px;
}

.home > .home-single-ad > .ad-content > a{
    background: #000;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 30px;
    line-height: 90px;
}

.home > .home-single-ad > .ad-image > img{
    max-width: 48.5vw;
}

.home > .home-dual-ad{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home > .home-dual-ad img{
    max-width: 48.5vw;
}

.home > .inventory > h1{
    font-size: 40px;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}

.home > .inventory ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home > .inventory .MuiCard-root{
    margin-bottom: 30px;
    max-width: 20vw;
}