.navbar{
    padding: 10px 3vw;
    font-size: 17px;
    max-height: 70px;
    width: 93vw;
    background: #000;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    max-width: 100%;
}

.navbar > .navbar-brand{
    font-size: 18px;
    font-weight: 500;
}

.navbar > .navbar-menu-items > ul > li{
    display: inline-block;
    margin-right: 30px;
}

.navbar > .navbar-checkouts > .MuiButton-root{
    color: #fff!important;
    min-width: 50px;
}