@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600&display=swap');

.App {
  font-family: 'Quicksand', sans-serif!important;
}

.MuiTab-root{
  font-family: 'Quicksand', sans-serif!important;
  font-size: 18px!important;
  text-transform: none!important;
}